<h2>Login</h2>

<form action="/auth/login" method="POST">
  <div>
    <label>Username</label>
    <input type="text" name="username" required>
  </div>

  <br>

  <div>
    <label>Password</label>
    <input type="password" name="password" required>
  </div>

  <br>

  <button type="submit">Login</button>
</form>

<br>

<a href="/auth/register">Register</a>